.screen {
    line-height: 95px;
    position: relative;
    width: 70%;
    height: 80px;
    margin: 0 auto;
    vertical-align: middle;
    background-color: #526252;
}

p {
    font-family: 'Segment7Standard';
    font-size: 72px;
    padding-right: 14px;
    text-align: right;
    color: #1d1d1d;
}

.button {
    font-family: 'Segment7Standard';
    font-family: 'Segment7Standard';
    font-size: 16px;
    line-height: 3;
    position: absolute;
    top: 86px;
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
    transition: all .5s ease;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 2px solid #526252;
}

.button:hover {
    color: #fff;
    background-color: #526252;
}